In [1]:
import pandas as pd
import numpy as np

In [2]:
file2 = '../data/UNdata_Export_20201229_115614587.txt'

In [9]:
migration = pd.read_csv(file2, sep = ";")

In [10]:
migration.head()

,Country or Area,Year,Area,Sex,Country of previous usual residence,Record Type,Reliability,Source Year,Value,Value Footnotes
0,Åland Islands,2018,Total,Both Sexes,Total,Migration flows: Administrative register,"Final figure, complete",2020.0,1080.0,"1,2"
1,Åland Islands,2018,Total,Both Sexes,AFRICA,Migration flows: Administrative register,"Final figure, complete",2020.0,3.0,"1,2"
2,Åland Islands,2018,Total,Both Sexes,"America, North",Migration flows: Administrative register,"Final figure, complete",2020.0,3.0,"1,2"
3,Åland Islands,2018,Total,Both Sexes,"America, South",Migration flows: Administrative register,"Final figure, complete",2020.0,6.0,"1,2"
4,Åland Islands,2018,Total,Both Sexes,Albania,Migration flows: Administrative register,"Final figure, complete",2020.0,6.0,"1,2"

In [11]:
migration.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38702 entries, 0 to 38701
Data columns (total 10 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Country or Area                      38702 non-null  object
 1   Year                                 38702 non-null  object
 2   Area                                 38657 non-null  object
 3   Sex                                  38657 non-null  object
 4   Country of previous usual residence  38657 non-null  object
 5   Record Type                          38657 non-null  object
 6   Reliability                          38657 non-null  object
 7   Source Year                          38657 non-null  float64
 8   Value                                38657 non-null  float64
 9   Value Footnotes                      29417 non-null  object
dtypes: float64(2), object(8)
memory usage: 3.0+ MB